
body{
    margin:0 auto !important;
    max-width:1200px;
    width:100%;
    
    
}
header{
    grid-column: 1/ span 2;
    padding:10px;
}

section {
    grid-column: 1/ span 2;
    padding:10px;

}
header {
    font-size: 40px;
    font-family: "Times New Roman", Times, serif;
    background-image: -webkit-linear-gradient(#F27DFD, #4FC7D7);
    color:black;
 
    
}

.homeMenu{
    display:grid;
    grid-template-columns: 32% 32% 32%;
    padding: 0;
}

section {
    background-color: #4FC7D7;
}

.homeMenu li{
    background-color:#F27DFD ;
    list-style-type: none;
    margin:0 3px ;
    padding:5px 0;
    text-align: center;
        
        
    
}
a:link{
    text-decoration: none;
    
}

.newsletter{
    text-align: center;
    padding-bottom:20px;
}

.newsletter input[type=text] {
    width:70%;
    padding:7px;
    border:none;
}

input[id="issuepage"]{
    width:50%;
}

img{
    width:100%;
    height:200px;
}

#card{
    background-color: #F27DFD;
}

.card-body{
    color:black;
}


.nav{
    background-color: #4FC7D7 ;
    padding:8px;
    justify-content:flex-end;
}

nav ul {
    list-style-type: none;
    margin:0;
    padding:0;
    
    
}

nav li{
    display:inline;
    padding:5px;
    width:31%;
}

.nav a {
    color:#F27DFD;
}

.nav a {
    font-size: 25px;
}

.nav li:first-of-type{
    border-right: 1px solid black;
    padding-right:13px;
}