
body{
    display:grid;
}
header{
    grid-column: 1/ span 2;
}

section {
    grid-column: 1/ span 2;

}
header h1{
    font-size: 40px;
    font-family: "Times New Roman", Times, serif;
    background-image: -webkit-linear-gradient(#F27DFD, #4FC7D7);
    color:whitesmoke;
 
    
}

.homeMenu{
    display:grid;
    grid-template-columns: 32% 32% 32%;
    padding: 0;
}

section {
    background-color: #4FC7D7;
}

.homeMenu li{
    background-color:#F27DFD ;
    list-style-type: none;
    margin:0 3px ;
    padding:5px 0;
    text-align: center;
        
        
    
}
a:link{
    text-decoration: none;
}

.newsletter{
    text-align: center;
    padding-bottom:20px;
}

.newsletter input[type=text] {
    width:70%;
    padding:7px;
    border:none;
}

input[id="issuepage"]{
    width:50%;
}

img{
    width:80%;
}
